:root {
  --bg-color-primary: #fef3ec;
  --bg-color-secondary: #d9d9d9;
  --bg-color-contrast: #156ff7;
  --bg-color-darker: #002b4d;
  --bg-color-secondary-complementar: black;
  --font-color-complementar: white;
  --font-color-primary: #002B4D;
  --border-color: #002b4d;
}
