@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 2rem !important;
  }
  .header {
    padding: 0;
  }
  .footer {
    width: 100%;
    margin: 0;
    padding: 30px 0;
    background: rgba($color: #fef3ec, $alpha: 1);
    h4 {
      font-size: 0.938rem !important;
      font-weight: 400;
    }
  }
  .wrapper-page {
    padding: 150px 0 0 0;
  }
}
// TABLET
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 100%;
    padding: 30px 0 30px 5vw;
    margin: 0;
    background: rgba($color: #fef3ec, $alpha: 1);
  }
  .wrapper-page {
    padding: 150px 0 0 0;
  }
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 2.5rem !important;
  }
}