:root {
  --primary-color: #000000;
  --primary-color-low-contrast: #7e7e7e;
  --primary-color-contrast: #fff;
  --primary-color-light: #e9e9e9;
  --secondary-color: #9a77ff;
  --secondary-color-light: #d9cefc;
  --tertiary-color: #1eeffd;
  --tertiary-color-light: #fef3ec;
  --light-color: white;
  --error-color: #cc3d3d;
  --disabled-color: #ceccc0;
  --color-grey: #7d7c77;
}

@import "~bulma/sass/utilities/_all";
$primary: #1eeffd;
$info: #9a77ff;
$primary-invert: findColorInvert($primary);
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
);
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
