// MOBILE GENERAL
@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 15px;
    overflow-x: hidden;
  }
  .btn-primary,
  .btn-secondary,
  .custom_dropdown {
    width: 100%;
    font-size: 1rem !important;
    padding: 5px;
  }
  .custom-footer {
    position: absolute;
    bottom: 100px;
    width: 100%;
    right: 20px;
  }
  h1.big-title {
    font-size: 2.3rem;
  }
}

// TABLET GENERAL
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 14px;
  }
  .hideMiddle {
    display: block !important;
  }
  .gap-1 {
    height: 7rem;
  }

  h1.big-title {
    font-size: 4rem;
  }
  .btn-primary,
  .btn-secondary,
  .custom_dropdown {
    width: 100%;
  }
  h2.pay-off {
    font-size: 1rem;
  }
  .box-img {
    img {
      object-position: top;
    }
  }
}

// iPap Mini Portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .hide {
    display: none !important;
  }
  .card {
    .card-header-title {
      font-size: 0.59rem;
    }
    .card-header-icon {
      font-size: 0.6rem;
    }
  }
  .bordered-dashed {
    .btn-secondary {
      margin-top: 20px;
    }
  }
}

// iPad Mini Landscape
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .hide {
    display: flex !important;
  }
}

// iPad Air, Pro GENERAL
@media only screen and (min-width: 820px) and (max-width: 1180px) and (-webkit-min-device-pixel-ratio: 2) {
  h1.big-title {
    font-size: 4rem;
  }
  .hideMiddle {
    display: block !important;
  }
  .gap-1 {
    height: 5rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1023px) {
  .px-md-5 {
    padding: 0 3rem !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1260px) {
  h1.big-title {
    font-size: 3.875rem;
  }
  .hideMiddle {
    display: none !important;
  }
}

@media screen and (min-width: 1261px) and (max-width: 1439px) {
  h1.big-title {
    font-size: 4rem;
  }
  .custom-footer {
    bottom: 50px;
  }
  p.pay-off {
    font-size: 1rem;
  }
  .hideMiddle {
    display: none !important;
  }
}

@media screen and (max-width: 1216px) {
  // .btn-primary,
  // .btn-secondary,
  // .custom_dropdown {
  //   width: 100%;
  // }
  .btn-minimal,
  .btn-minimal-noHover {
    padding: 10px 15px;
  }
  h2.pay-off {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1560px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 14px;
  }
}
