:root {
  --bg-color-primary: white;
  --bg-color-secondary: #d9d9d9;
  --bg-color-secondary-complementar: black;
  --font-color-secondary-complementar: white;
  --font-color-primary: black;
  --border-color: black;
}
