/* ==============> FONTS <============== */
a {
  color: black;
  font-family: "JetBrains Mono", monospace;
}
a span {
  text-decoration: underline;
}

.nav-container a {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
}

p.small {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.7rem;
}
/* ==============> POSITIONING, MARGIN, PADDING, ETC...<============== */

.position-bottom-right {
  bottom: 20px;
  right: 20px;
}

.position-top-right {
  top: 20px;
  right: 20px;
}

.pointer {
  cursor: pointer;
  transition: all 0.3s;
}
.pointer:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* ==============> BUTTONS <============== */

.btn-sidebar {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: #f3f5f7;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999;
  font-family: "JetBrains Mono", monospace;
}

.btn-sidebar:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}

button.button.is-rounded.is-dark {
  font-family: "JetBrains Mono", monospace !important;
  transition: all 0.3s;
}

button.button.is-rounded.is-dark:hover {
  font-family: "JetBrains Mono", monospace;
  background-color: #ced4da;
  border: 1px solid black;
  color: black;
  transition: all 0.3s;
}

/* ==============> DEAL CREATION <============== */

.box-deals {
  position: relative;
  font-size: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
}

.icon-opensea {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.3s;
  width: 25px;
  cursor: pointer;
}

.icon-refresh {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
  font-size: 25px;
  cursor: pointer;
}

.icon-opensea:hover, .icon-refresh:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.icon-refresh:hover {
  transform: rotate(270deg);
  transition: all 0.5s;
}

/* ==============> LOGS <============== */

.right-col {
  width: 22rem;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  text-align: justify;
  word-break: break-all;
  font-size: 12px;
  border-left: 1px solid black;
  z-index: 2;
  background-color: #f3f5f7;
}

.right-col hr {
  background-color: #ced4da;
}

/* ==============> LOGS <============== */

/* ==============> ANIMATIONS <============== */
/* LOGS SIDEBAR ANIMATION - IN & OUT */
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

/* BUTTON ANIMATION: CTA - SHOW LOGS */
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  box-shadow: 0 0 0 rgba(116, 116, 116, 0.4);
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-box-shadow: 0 0 0 0 rgba(136, 134, 130, 0.4);
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(163, 162, 156, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(90, 89, 87, 0);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-box-shadow: 0 0 0 0 rgba(136, 134, 130, 0.4);
    box-shadow: 0 0 0 0 rgba(136, 134, 130, 0.4);
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(163, 162, 156, 0);
    box-shadow: 0 0 0 10px rgba(163, 162, 156, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(90, 89, 87, 0);
    box-shadow: 0 0 0 0 rgba(90, 89, 87, 0);
  }
}
