/* ==============> FONTS <============== */
:root {
  --primary-color: #002b4d;
  --secondary-color: #186ceb;
  --secondary-color-light: #cce7ff;
  --secondary-color-highcontrast: #f1f9ff;
  --tertiary-color: #edd2be;
  --tertiary-color-light: #fef3ec;
  --light-color: white;
}

/* ==============> MIXINS AND GENERAL STYLE <============== */
html,
body {
  background-color: var(--secondary-color-highcontrast);
}

@mixin badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 30px;
  border-radius: 34px;
  width: 100px;
  span {
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1;
    text-align: center;
  }
}

@mixin btn-minimal-noHover {
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 30px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  @include font-plex;
  letter-spacing: 0.04em;
  font-size: 0.813rem;
  font-weight: 500;
  color: var(--tertiary-color-light);
  border: 1px solid var(--tertiary-color-light);
  border-radius: 0px !important;
  transition: all 0.3s;
}

@mixin btn-minimal {
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 30px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  @include font-plex;
  letter-spacing: 0.04em;
  font-size: 0.813rem;
  font-weight: 500;
  color: var(--tertiary-color-light);
  border: 1px solid var(--tertiary-color-light);
  border-radius: 0px !important;
  transition: all 0.3s;
  &:hover {
    background-color: var(--secondary-color);
    transition: all 0.3s;
    color: var(--tertiary-color-light);
  }
}

@mixin btn-light {
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color-light);
  &:hover {
    -webkit-box-shadow: 6px 6px 0px 1px var(--tertiary-color-light);
    box-shadow: 6px 6px 0px 1px var(--tertiary-color-light);
  }
}

@mixin btn-dark {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  &:hover {
    -webkit-box-shadow: 6px 6px 0px 1px var(--primary-color);
    box-shadow: 6px 6px 0px 1px var(--primary-color);
    color: var(--tertiary-color-light);
  }
}

@mixin btn-white {
  background-color: var(--light-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  &:hover {
    -webkit-box-shadow: 6px 6px 0px 1px var(--primary-color);
    box-shadow: 6px 6px 0px 1px var(--primary-color);
  }
}

@mixin btn {
  text-transform: uppercase;
  padding: 10px 30px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--tertiary-color-light);
  @include font-plex;
  letter-spacing: 0.04em;
  font-size: 0.813rem;
  font-weight: 500;
  &:hover {
    transition: all 0.3s;
  }
}

@mixin font-inter {
  font-family: "Inter", sans-serif;
}

@mixin font-plex {
  font-family: "IBM Plex Mono", monospace !important;
}

/* ==============> FONTS <============== */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

a {
  color: black;
  @include font-plex();
}

a span {
  text-decoration: underline;
}

b {
  font-weight: 600;
}
.nav-container a {
  @include font-plex();
  font-size: 1rem;
}

p.small {
  @include font-plex();
  font-size: 0.7rem;
}

.connect-container {
  p {
    @include font-inter;
    font-size: 1rem;
    color: var(--tertiary-color-light);
  }
}

h2.pay-off {
  @include font-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.02em;
}

h5 {
  @include font-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.688rem;
  line-height: 200%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.title {
  color: var(--primary-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}
/* ==============> POSITIONING, MARGIN, PADDING, ETC...<============== */

.bg-color-dark {
  background-color: var(--primary-color) !important;
}

.bg-color-light {
  background-color: var(--secondary-color-highcontrast);
}

.b-top-colored-dark {
  border-top: 1px solid var(--primary-color);
}

.b-top-colored-grey {
  border-top: 1px solid #ceccc0;
}

.b-bottom-colored-grey {
  border-bottom: 1px solid #ceccc0;
}

.b-bottom-colored-dark {
  border-bottom: 1px solid var(--primary-color);
}

.b-top-colored {
  border-top: 1px solid var(--tertiary-color-light);
}

.b-left-colored {
  border-left: 1px solid var(--tertiary-color-light);
}

.b-slider .b-slider-tick-label {
  top: calc(0.5rem * 0.5 + 18px);
}

.bordered-dashed {
  border: 1px dashed var(--primary-color);
}

.flex-force {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  * {
    box-sizing: border-box;
    margin: 0;
  }
}

.no-scroll {
  overflow: hidden !important;
  overflow-y: hidden !important;
  max-height: 100vh;
}

.placeholder-input {
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 0.9rem;
  color: #7d7c77;
}

.position-bottom-right {
  bottom: 20px;
  right: 20px;
}

.position-top-right {
  top: 20px;
  right: 20px;
}

.pointer {
  cursor: pointer;
  transition: all 0.3s;
}

.pointer:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.tertiary-light-text {
  color: var(--tertiary-color-light);
}

.no-pointer {
  pointer-events: none !important;
}

/* ==============> BUTTONS & FIELDS <============== */
input,
.upload .upload-draggable.is-expanded {
  @include font-plex();
  border-radius: 0 !important;
}

.btn-active {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color-light);
    transition: all 0.3s;
  }
}

.btn-white {
  @include btn();
  @include btn-white();
}

.btn-light-icon {
  background-color: transparent;
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: all 0.3s;
  @include font-plex;
  font-size: 0.813rem;
  color: var(--tertiary-color-light);
  border: 1px solid var(--tertiary-color-light);
  border-radius: 0px !important;
  transition: all 0.3s;
  &:hover {
    background-color: var(--secondary-color);
    transition: all 0.3s;
    color: var(--tertiary-color-light);
  }
}

.btn-light {
  @include btn-minimal();
}

.btn-inactive {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color-light);
    transition: all 0.3s;
  }
}

.btn-icon {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 8px 12px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  @include font-plex;
  letter-spacing: 0.04em;
  font-size: 1rem;
  font-weight: 500;
  &:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color-light);
    transition: all 0.3s;
  }
}

.btn-minimal-noHover {
  @include btn-minimal-noHover();
}

.btn-primary {
  @include btn;
  @include btn-light;
}

.btn-secondary {
  @include btn;
  @include btn-dark;
}

.btn-tertiary {
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 30px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  @include font-plex;
  letter-spacing: 0.04em;
  font-size: 0.813rem;
  font-weight: 500;
}

.btn-sidebar {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: #f3f5f7;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999;
  @include font-plex();
}

.btn-sidebar:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}

.button {
  height: unset !important;
  border-radius: 0;
}

button.button.is-rounded.is-dark {
  @include font-plex();
  transition: all 0.3s;
}

button.button.is-rounded.is-dark:hover {
  @include font-plex();
  background-color: #ced4da;
  border: 1px solid black;
  color: black;
  transition: all 0.3s;
}

.custom_dropdown {
  position: relative;
  filter: url(#goo);
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
}

.custom_dropdown__text {
  font-size: 0.8rem;
  text-transform: uppercase;
  span.small {
    font-size: 0.6rem;
  }
  i {
    width: 10px;
  }
}

.custom_dropdown__face {
  background-color: white;
  display: block;
  position: relative;
  padding: 14px 20px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.custom_dropdown::before {
  content: "";
  background-color: transparent;
  position: absolute;
  bottom: 100%;
  right: 20%;
  height: 40px;
  width: 20px;
}

.custom_dropdown li {
  margin: 5px 0;
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.custom_dropdown li:hover {
  font-weight: 900;
  text-decoration: underline;
}

.custom_dropdown__items {
  background-color: white;
  font-weight: 200;
  padding: 10px;
  margin: 25px 0 0 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  color: black;
  border: 1px solid black;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom_dropdown::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.field {
  .is-info {
    border-color: var(--primary-color);
  }
  .input {
    height: unset;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0;
  }
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  height: 100%;
}

a.dropdown-item.is-active,
.dropdown .dropdown-menu .has-link a.is-active,
button.dropdown-item.is-active {
  background-color: var(--primary-color);
  color: var(--tertiary-color-light);
}
/* ==============> DASHBOARD <============== */

.header {
  background-color: var(--primary-color);
  img {
    height: 43px;
  }
}

.alert-banner {
  background-color: #f2cfcf;
  p,
  i {
    color: #cc3d3d;
  }
}

.badge {
  @include badge;
}

.badge-pending {
  background: #fff6bd;
  span {
    color: #ae9700;
  }
}

.badge-success {
  background: #d2eac0;
  span {
    color: #4baa00;
  }
}

.badge-ended {
  background: #dedcd0;
  span {
    color: #7d7c77;
  }
}

.badge-requested {
  background: #186ceb;
  span {
    color: white;
  }
}

.badge-slashed {
  background: #002b4d;
  span {
    color: white;
  }
}

.card {
  padding: 10px 0;
  color: var(--primary-color);
  .card-footer:last-child,
  .card-content:last-child,
  .card-header:last-child {
    border: 0;
    box-shadow: none;
  }
  .card-header,
  .collapse-trigger {
    align-items: center;
    display: flex;
  }
  a.link-primary {
    color: var(--secondary-color);
  }
  .card-header {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      color: var(--primary-color);
    }
    button {
      border-radius: 0;
    }
  }
}

.divider {
  width: 1px;
  background-color: rgb(217, 217, 217);
  height: 55px;
}

img.network-logo {
  width: 25px;
  height: auto;
}

/* ==============> CONNECT WALLET <============== */

.connect-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #002b4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.mobile-blocker {
  width: 100%;
  height: auto;
  height: 100vh;
  background-color: #002b4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  .logo {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p {
    color: var(--tertiary-color-light);
  }
}

/* ==============> DEAL CREATION <============== */

.box-deals {
  position: relative;
  font-size: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
}

.box-img {
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/no-avail.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px 10px;
  margin: 0;
}

.box-img img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
}

.custom-card {
  background-color: white;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  padding: 20px 10px;
  &:hover {
    background-color: var(--secondary-color-light);
  }
  p {
    font-family: "Inter";
    color: var(--primary-color);
    font-size: 0.9rem;
  }
}

.icon-opensea {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.3s;
  width: 25px;
  cursor: pointer;
}

.icon-refresh {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
  font-size: 25px;
  cursor: pointer;
}

.icon-opensea:hover,
.icon-refresh:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.icon-refresh:hover {
  transform: rotate(270deg);
  transition: all 0.5s;
}

.modal-card {
  .modal-card-title {
    @include font-inter();
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
  }
  .modal-card-foot,
  .modal-card-head {
    background-color: var(--tertiary-color-light);
  }
  p {
    @include font-plex();
  }
}

/* ==============> LOGS & NOTIFICATIONS <============== */
.modal-card-body {
  .media {
    align-items: center;
  }
}
.right-col {
  width: 22rem;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 1.2rem;
  font-size: 12px;
  border-left: 1px solid var(--primary-color);
  z-index: 9;
  background-color: white;
  a {
    @include font-plex();
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
  }
  p.navbar-text {
    @include font-plex();
    font-weight: 400;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}

@keyframes example {
  from {
    left: 5rem;
  }
  to {
    left: 3rem;
  }
}

hr {
  background-color: var(--primary-color);
}

.Vue-Toastification__toast {
  @include font-plex();
  border-radius: 0;
}
.Vue-Toastification__toast-body {
  @include font-plex();
}

.workingMessage {
  position: absolute;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 43, 77, 0.7);
  color: var(--tertiary-color-light);
  font-size: 1.6rem;
  @include font-plex();
  word-break: break-word;
  line-height: 1;
  height: 100vh;
  width: 100%;
}

/* ==============> ANIMATIONS <============== */

// ANIMATION DAPP FADE IN
// .animate__animated.animate__fadeIn {
//   animation-delay: 0.3s;
// }

/* LOGS SIDEBAR ANIMATION - IN & OUT */
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

/* BUTTON ANIMATION: CTA - SHOW LOGS */
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  box-shadow: 0 0 0 rgba(116, 116, 116, 0.4);
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-box-shadow: 0 0 0 0 rgba(136, 134, 130, 0.4);
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(163, 162, 156, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(90, 89, 87, 0);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-box-shadow: 0 0 0 0 rgba(136, 134, 130, 0.4);
    box-shadow: 0 0 0 0 rgba(136, 134, 130, 0.4);
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(163, 162, 156, 0);
    box-shadow: 0 0 0 10px rgba(163, 162, 156, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(90, 89, 87, 0);
    box-shadow: 0 0 0 0 rgba(90, 89, 87, 0);
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-out-top {
  -webkit-animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
